<div class="modal-overlay" *ngIf="modalAberto">
    <div class="modal-content">
      <h2>{{ titulo }}</h2>
  
      <form (ngSubmit)="salvarFormularioModal()">
        <!-- Campos do formulário aqui -->
        <ul *ngIf="itens && itens.length > 0; else noItems">
          <li *ngFor="let item of itens">{{ item.descricao }}</li>
        </ul>

        <!-- Exibe uma mensagem caso não haja itens -->
        <ng-template #noItems>
          <p>Nenhum item encontrado.</p>
        </ng-template>
        <div class="modal-actions">
          <button type="submit">Salvar</button>
          <button type="button" (click)="fecharModalFormulario()">Fechar</button>
        </div>
      </form>
    </div>
  </div>
  